.events-control{
    text-align: center;
    border: 1px solid #5101d1;
    padding: 1rem;
    margin: 2rem auto;
    width: 25rem;
    max-width: 100%;
}

.events__list {
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
}

.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
}

.events__list-item h1{
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
}

.events__list-item h2{
    margin-top: 1rem;
    font-size: 1.0rem;
    color: #7C7C7C;
}

.events__list-item p{
    margin-top: 0;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;

}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #5101d1;
    border-color: #5101d1 transparent #5101d1 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.booking-success{
    background: white;
    position: fixed;
    display: block;
    justify-content: space-evenly;
    border: 2px solid #00c800;
    color: #00c800;
    width: 10%;
    padding: 1.5rem;
    border-radius: 5%;
}
i{
    margin-top: 1.3rem;
}

